{% extends "layouts/base.html.twig" %}

{% block title %}Liste de pin
{% endblock %}
{% block body %}
	<div class="container">
		<h3 class="text-center">{{ plusiraze(pins|length ,"Pin","Pins") }}</h3>
		{% for row in pins | batch(4) %}
			<div class="row mt-3">
				{% for pin in row %}
					<div class="col-sm-3">
						<article class="bg-light rounded shadow">
							<div class="mw-100 overflow-hidden">
								<a href="{{ path('app_show_pin',{'id':pin.id}) }}">
									<img class="w-100 img" src="{{ pin.imageName ? asset('uploads/images/'~ pin.imageName) : asset('images/defaultImage.png') }}" alt="" width="200px" height="200px">
								</a>
							</div>
							<a class="h4" href="{{ path('app_show_pin',{'id':pin.id}) }}">{{ pin.title }}</a>
							<p class="card-text ">{{ pin.description | shortly }}</p>
							<p class="text-muted font-italic" style="font-size:10px">Submitted:
								{{ pin.createdAt|date }}</p>
						</article>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
