{% extends "layouts/base.html.twig" %}
{% block title %}
	{{ pin.title }}
	|
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<article class=" rounded shadow">
					<h4 class="text-center text-uppercase mb-3 mt-3">{{ pin.title }}</h4>
					{% if app.user == pin.user %}
						<span class="float-right">
							<a href="{{ path('app_edit_pin',{id :pin.id}) }}">
								<i class="fas fa-edit fa-sm fa-fw"></i>
							</a>|
							<a href="#" onclick="event.preventDefault(); confirm('Are you sure ?') && document.querySelector('#js-form-delete-pin').submit()">
								<i class="fas fa-trash fa-sm fa-fw"></i>
							</a>
						</span>
					{% endif %}
					<img class="w-100 " src="{{ pin.imageName ? asset('uploads/images/'~ pin.imageName) : asset('images/defaultImage.png') }}" alt="" width="400px" height="auto">
					<div class="pl-2 mb-3 text-center">
						<div class="col-12 mt-5">
							<p class=" text-left">{{ pin.description }}</p>
							<div class="">
								<span class="float-left text-primary ">
									{{ pin.likes | length }}
									{% if app.user %}
										<a href="{{ path('app_delete_like',{id : pin.id}) }}">
										{% endif %}
										{% if app.user and pin.isLikedUser(app.user) %}
											<span class="font-weight-bolder">
												<i class="fas fa-thumbs-down fa-lg fa-fw text-danger "></i>
											</span>
										{% else %}
											<i class="fas fa-thumbs-up fa-lg fa-fw"></i>
										{% endif %}
										{% if app.user %}
										</a>
									{% endif %}
								</span>
								<span class="float-right">
									<i class="fas fa-comment fa-lg fa-fw"></i>
									{{ pin.comments | length }}
									Comments
								</span>
							</div>
							<hr>
						</div>
					</div>
					<br>
					<form action="{{ path('app_comment_pin',{id : pin.id}) }}" method="post">
						<div class="form-group container">
							<textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
							<button type="submit" class="  btn mb-3 mt-3 btn-primary">Comment</button>
						</div>
					</form>
					<hr>
					{% for comment in pin.comments %}
						<div class="container">
							<span class="text-muted">{{comment.user.email }}</span>
							<p>{{ comment.content }}</p>
							{{ comment.createdAt | date() }}
						</div>
						<hr>
					{% endfor %}
				</article>
			</div>
		</div>
	</div>
	<form id="js-form-delete-pin" action="{{ path('app_delete_pin',{id :pin.id}) }}" method="post" style='display="none"'>
		<input type="hidden" name="csrf_token" value="{{ csrf_token('pin.delete'~ pin.id) }}">
		<input type="hidden" name="_method" value="DELETE">
	</form>
{% endblock %}
