{% extends "layouts/base.html.twig" %}
{% block title %}
	{{ pin.title }}
	|
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card border-primary">
			<img class="card-img-top" src="holder.js/100px180/" alt="">
			<div class="card-body">
				<h4 class="card-title">{{ pin.title }}</h4>
				<p class="card-text">{{ pin.description }}</p>
				<a href="{{ path('app_edit_pin',{id :pin.id}) }}">Edit</a>
				<a href="#"onclick="event.preventDefault(); confirm('Are you sure ?') && document.querySelector('#js-form-delete-pin').submit()" >Delete</a>
			</div>
		</div>
	</div>
	<form id="js-form-delete-pin" action="{{ path('app_delete_pin',{id :pin.id}) }}" method="post" style='display="none"'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token('pin.delete'~ pin.id) }}">
		<input type="hidden" name="_method" value="DELETE">
	</form>
{% endblock %}
