<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
			<link rel="stylesheet" href="{{ asset('app/app.css') }}">
			<link rel="stylesheet" href="{{ asset('fontawesome/css/all.min.css') }}">
		{% endblock %}
	</head>
	<body>

		{% include "layouts/partials/_flash_message.html.twig" %}
		{% include "layouts/partials/_nav.html.twig" %}
		<main role="main" class="container"> {% block body %}{% endblock %}
			</main>
			{% include "layouts/partials/_footer.html.twig" %}
			{% block javascripts %}
				<script src="{{ asset('app/app.js') }}"></script>
				<script src="{{ asset('app/jquery.js') }}"></script>
				<script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
				</script>
			{% endblock %}
		</body>
	</html>
