<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand navbar-light bg-faded shadow">
				<a class="navbar-brand" href="#">Pinshap<span class="sr-only">(current)</span></a>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('app_index_pin') }}">Home</a>
					</li>
				</ul>
				<div class=" my-2 my-lg-0">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('app_create_pin') }}">New</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Se connecter</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		{% include "layouts/partials/_flash_message.html.twig" %}
		<div class="mb-5"> 
	    	{% block body %}{% endblock %}
		</div>
		{% block javascripts %}
		<script src="{{ asset('app/app.js') }}"></script>
		<script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
		{% endblock %}
	</body>
</html>
